{% extends "index.html" %}
{% block metatitle %}Category: {{ category }} | {{ SITENAME }}{% endblock %}
{% block title %}Category: {{ category }} | {{ SITENAME }}{% endblock %}

{% block description %}Posts in the {{ category }} section of this site{% endblock %}

{% block head %}
{% if CATEGORY_FEED_ATOM %}
<link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(slug='category.slug') }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} {{ category }} Category Atom Feed" />
{% endif %}
{% if CATEGORY_FEED_RSS %}
<link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(slug='category.slug') }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} {{ category }} Category RSS Feed" />
{% endif %}
{% endblock %}

{% block subheader %}
<p>Category: {{ category }}
{% if CATEGORY_FEED_ATOM %}
&#124; <a href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(slug='category.slug') }}">Atom Feed</a>
{% endif %}
{% if CATEGORY_FEED_RSS %}
&#124; <a href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(slug='category.slug') }}">RSS Feed</a>
{% endif %}</p>
{% endblock %}
